* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;;
}

.button a{
  color: black;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  padding: 10px 16px;
  border-radius: 24px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* header */
header {
  position: fixed;
  width: 100%;
  height: 64px;
  background-color: rgb(49,97,224);
  z-index: 500;
}

.box {
  width: 70%;
  margin: 0 auto;
  line-height: 64px;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

.logo {
  width: 18%;
  float: left;
  margin-right: 2%;
  vertical-align: middle;
}

.logo img {
  vertical-align: middle;
}

.bar {
  width: 58%;
  margin: 0 auto;
  float: left;
  margin-right: 2%;
  text-align: center;
}

.but {
  width: 8%;
  float: right;
  margin-left: 2%;
}

a {
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  padding-right: 32px;
}

li:hover {
  text-decoration: underline;
}

/* jumbotron */
.jumbotron {
  position: relative;
  width: 100%;
  height: 547px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

.jumbo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

h1 {
  font-size: 60px;
  margin-bottom: 24px
}

.jumbo>p {
  font-size: 24px;
  margin-bottom: 50px;
}

.btn a {
  font-size: 16px;
  padding: 16px 24px;
  margin-right: 24px;
}

.btn a:last-child {
  color: white;
  background-color: rgb(35,39,42);
}

/* main */

section {
  width: 60%;
  margin: 0 auto ;
}

.image, .text {
  float: left;
}

.image {
  width: calc(60%-28%);
  margin-right: 2%;
}

.text {
 width: 30%;
 margin-top: 60px;
}


h2 {
  font-size: 48px;
  margin-bottom: 16px;
}

.boxed:last-child {
  text-align: center;
}

.color {
  background-color: #f6f6f6;
}

.wave-2 img {
  transform: scaleY(-1);
}

.end {
  text-align: center;
  margin-bottom: 10%;
}

.last-text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
}

.btn-2 a{
  color: white;
  background-color: rgb(142,161,226);
}

/* footer */